*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #2c003e, #4b007e, #1a002b);
    color: antiquewhite;
    overflow: hidden;
}
.slider_container{
    position: relative;
    width: 75vw;
    height: 75vh;
    overflow: hidden;
    border-radius: 30px;
    perspective: 1500px;
}
.slider_track{
    display: flex;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s cubic-bezier(.68, -.55, .27,1.55);
}
.slide{
    min-width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: transform .6s ease;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
}
.slider_container:hover .slide{
    transform: scale(.9) rotateY(-8deg);
}
.slide:nth-child(odd){
    filter: brightness(.9);
    -webkit-filter: brightness(.9);
}
.navigation{
    position: absolute;
    top: 50%;
    margin: 1rem;
    width: 98%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    z-index: 10;
}
.nav{
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid #7e22ff;
    padding: 12px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform .4s, box-shadow .3s ease;
    color: #fff;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .5);
}
.nav:hover{
    transform: scale(1.1);
    box-shadow: 0 6px 20px rgba(126, 34, 255, .6);
} 
